


/*-------------------------------------------------OLD UNNECESSARY--------------------------------------------*/

.homepage {
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    background-image: url(https://s3-eu-west-1.amazonaws.com/assets.bert.house/cases/_fitXlarge/heineken_bg.jpg);
}
#work {
    background-image: url(https://s3-eu-west-1.amazonaws.com/assets.bert.house/cases/_fitXlarge/home-case-blue-mountain.jpg);
}
#about {
    background-image: url(https://s3-eu-west-1.amazonaws.com/assets.bert.house/cases/_fitXlarge/blok63_homepage.jpg);
}
#contact {
    background-image: url(https://s3-eu-west-1.amazonaws.com/assets.bert.house/cases/_fitXlarge/kaboodle_home.jpg);
}

.homepage-content {
    width:100%;
    text-align:center;
    padding:10px;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.homepage-content h1 {
    margin-bottom: 10px;
    line-height: .95;
    color: $white;
    font-size: 20vh;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.homepage-content p {
    line-height: 34px;
    color: $white;
    font-weight: 300;
    font-size: 22px;
    max-width: 810px;
    margin: 0 auto 45px;
}

.homepage-content .btn-custom-default-border {
  padding: 15px 45px;
}


@media only screen and (max-width: 767px) {
  .nomobile {
    display: none;
  }
}

@media only screen and (max-width : 400px) {
  .homepage-content .btn-custom-default-border {
    padding: 10px 40px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .homepage-content h1 {
      font-size: 200px;
  }
}

@media only screen and (max-width: 992px) {
  .homepage-content h1 {
      font-size: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .homepage-content h1 {
      font-size: 65px;
  }
  .homepage-content p {
      font-size: 16px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 400px) {
  .homepage-content p {
      margin: 0 auto 30px;
  }
}

h1.title {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 30px;
    text-transform: uppercase;
}

/* --------------  WORK --------------- */

.cases-items {
    margin-bottom: 0;
    list-style: none outside none;
    display: block;
    padding: 0;
}
.cases-item {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: row;
    -ms-flex: row wrap;
    flex: row wrap;
    background-color: $white;
}

.cases-item-image, .cases-item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    position: relative;
}
.cases-item-image {
    overflow: hidden;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.cases-item-body {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.cases-item:nth-child(2n) .cases-item-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.cases-item:nth-child(2n) .cases-item-body {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.cases-item-image a {
    display: block;
    width: 100%;
}
.cases-item-image img {
    position: relative;
}
.cases-item img {
    width: 100%;
}
img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
a:hover {
    text-decoration: none;
}
.cases-item-content {
    max-width: 553px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 50px;
}
.cases-item-title {
    margin-bottom: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
}

.cases-item p {
    max-width: 500px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.56;
    color: $black;
}
.btn-dark {
    padding: 0 33px;
    border-color: $dark-black;
    color: $dark-black;
}
@media only screen and (max-width: 768px) {
  .cases-item {
      display: block;
  }
  .cases-item-image, .cases-item-body {
      display: block;
      width: 100%;
  }
  .cases-item-content {
      padding: 50px 24px;
  }
  .cases-item-title {
      margin-bottom: 15px;
  }
  .cases-item-title {
      font-size: 35px;
  }
}




form.form-contact {

}

/*input.form-control, textarea.form-control  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 80px;
    font-size: 20px;
    background-color: $light-grey;
    color: $grey;
    padding-bottom: 5px;
    box-shadow: none;
    border-radius: 0;
}*/
::-webkit-input-placeholder { /* Chrome */
  color: $grey !important;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $grey !important;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $grey !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.3;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $grey !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.3;
}

/*.form-control:focus {
    box-shadow: none;
    border-color: $grey;
}


textarea.form-control {
    border-top: 0;
    border-bottom: 0;
    padding-top: 19px;
    height: auto;
    min-height: 80px;
    -webkit-transition: min-height .5s;
    transition: min-height .5s;
    resize:none;
}
textarea.form-control:focus {
    min-height: 250px;
}*/



/*Animations*/

#title-work, #btn-work, #title-about, #btn-about, #title-contact, #btn-contact {
  visibility: hidden;
}

.myvisible {
  visibility: visible !important;
}

/*#btn-work {
  animation-duration: 5s;
}*/






