<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 pull-right left-border">
  <h3 class="mb20">Categories</h3>
  <ul class="cats">
    <li><a href="/blogs" style="color: #333333;">All</a></li>
    <% @categories.each do |category| %>
      <li class="<%= is_category_active?(category.category_slug)%>"><a href="/blogs/<%= category.category_slug %>" style="color: #333333;"><%= category.name %></a></li>
    <% end %>  
  </ul>
  <div class="clearfix"></div>
  <h3 class="mt30 newsletter noshow1199andunder">Subscribe to Our Newsletter</h3>
  <form action="https://keenability.createsend.com/t/d/s/akrkik/" method="post" id="subForm" class="noshow1199andunder">
      <input type="text" id="fieldEmail" name="cm-akrkik-akrkik" class="form-control blak-form" placeholder="Email Address" required="">
      <input type="submit" class="submit blak-btn" value="+">
  </form>
  <div class="lets_meet">
    <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
    </a>
  </div>
</div>