<% provide(:title, 'Keen Insights | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Looking for some free marketing tips and strategies? Browse our marketing insights blog for the latest news and pontification.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Keen Insights | Keenability Boca Raton">
  <meta name="twitter:description" content="Looking for some free marketing tips and strategies? Browse our marketing insights blog for the latest news and pontification.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/blogs/Main_blog_Insights_header.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/blogs/Main_blog_Insights_header.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Keen Insights | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/blogs/Main_blog_Insights_header.jpg" /> 
  <meta property="og:description" content="Looking for some free marketing tips and strategies? Browse our marketing insights blog for the latest news and pontification." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/blogs/Main_blog_Insights_header.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Looking for some free marketing tips and strategies? Browse our marketing insights blog for the latest news and pontification."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<%= render 'layouts/static_header' %>

<div class="heroline"></div>
<div class="hero-blogs"></div>
<div class="heroline"></div>

<div class="container mt40 mb50">

  <% if current_user.try(:admin?) %>
  <div class="row mb60">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= link_to 'New Blog', new_blog_path, class:"btn btn-warning" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <% @blogs.each_with_index do |blog, i| %>
        <% if i.even? %>
          <div class="row mb40">
            
            <div class="col-sm-6 col-xs-12">
              <%= link_to blog_path(blog.title_for_slug) do %> 
                <%= image_tag(blog.image_medium, class:'img-responsive reversealignment') if blog.image_medium.present? %>
              <% end %>
            </div>
            <div class="col-sm-6 col-xs-12 text-left">
              <h4><%= link_to blog.title, blog_path(blog.title_for_slug), class: 'h2 index_blogs_title' %></h4>
              <p><%= link_to HTML_Truncator.truncate(blog.content_index, 25).html_safe, blog_path(blog.title_for_slug), class: "index_blogs_snippet" %></p>
              <div class="pull-left">
                <%#= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-gray" %>
                <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-gray" if current_user.try(:admin?)%>
                <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-gray", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="row mb40">
            <div class="col-sm-6 col-xs-12 mobileonly">
              <%= link_to blog_path(blog.title_for_slug) do %> 
                <%= image_tag(blog.image_medium, class:'img-responsive') if blog.image_medium.present? %>
              <% end %>
            </div>
            <div class="col-sm-6 col-xs-12 myalignment">
              <h4><%= link_to blog.title, blog_path(blog.title_for_slug), class: 'h2 index_blogs_title' %></h4>
              <p><%= link_to HTML_Truncator.truncate(blog.content_index, 25).html_safe, blog_path(blog.title_for_slug), class: "index_blogs_snippet" %></p>
              <div class="myalignment">
                <%#= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-gray" %>
                <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-gray" if current_user.try(:admin?)%>
                <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-gray", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 hidden-xs">
              <%= link_to blog_path(blog.title_for_slug) do %> 
                <%= image_tag(blog.image_medium, class:'img-responsive') if blog.image_medium.present? %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div id="myId" class="text-center col-md-12" data-last-page="<%= @blogs.total_pages %>">
        <%= will_paginate @blogs %>
      </div>
      
    </div>
    <%= render partial: 'categories' %>
  </div>

</div>
  
<%= render 'layouts/footer' %>  

