<% provide(:title, "Keen Insights | Keenability Boca Raton | #{@blog.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blog.meta_description %>">
  <meta name="keywords" content="<%= @blog.meta_keywords %>">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="<%= @blog.title %>">
  <meta name="twitter:description" content="<%= @blog.meta_description %>">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="<%= @blog.image_large %>">
  <meta name="twitter:image:src" content="<%= @blog.image_large %>">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="<%= @blog.title %>" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="<%= @blog.image_large %>" /> 
  <meta property="og:description" content="<%= @blog.meta_description %>" /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="article:published_time" content="<%= @blog.pubdate %>" /> 
  <meta property="article:modified_time" content="<%= @blog.pubdate > @blog.updated_at ? @blog.pubdate : @blog.updated_at %>" /> 
  <meta property="article:tag" content="<%= @blog.meta_keywords %>" />
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "<%= @blog.image_large %>"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "<%= @blog.meta_description %>"
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<%= render 'layouts/static_header' %>

<div class="heroline"></div>
<div class="hero-blogs"></div>
<div class="heroline"></div>

<div class="container mt40 mb50">

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <h4><%= @blog.title %></h4>
      <p class="small"><%= @blog.pubdate.strftime("%B %d, %Y") if @blog.pubdate.present? %></p>
      <p class="mb30 share_social">
        <img src="https://s3.amazonaws.com/keenwebsite/blogs/share_button.jpg" alt="" width="55">
        <a href='<%= "https://www.facebook.com/sharer/sharer.php?u=#{request.url}" %>' class="ml25" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href='<%= "http://www.twitter.com/intent/tweet?text=#{@blog.meta_description}&url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href='<%= "https://www.linkedin.com/cws/share?url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </p>

      <%= image_tag(@blog.image_large, class:'img-responsive') if @blog.image_large.present? %>
      <p class="mt30"><%= simple_format(@blog.content).html_safe %></p>
      <div class="mt40">
        <%= link_to 'Back', blogs_path, class: "btn btn-gray mb30" if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_blog_path(@blog.title_for_slug), class: "btn btn-gray mb30" if current_user.try(:admin?) %>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 pull-right left-border">
      <h3 class="mb20">Categories</h3>
      <ul class="cats">
        <li><a href="/blogs" style="color: #333333;">All</a></li>
        <% @categories.each do |category| %>
          <li class="<%= 'cat_active' if @blog.category.category_slug == category.category_slug %>"><a href="/blogs/<%= category.category_slug %>" style="color: #333333;"><%= category.name %></a></li>
        <% end %>  
      </ul>
      <div class="clearfix"></div>
      <h3 class="mt30 newsletter noshow1199andunder">Subscribe to Our Newsletter</h3>
      <form action="https://keenability.createsend.com/t/d/s/akrkik/" method="post" id="subForm" class="noshow1199andunder">
          <input type="text" id="fieldEmail" name="cm-akrkik-akrkik" class="form-control blak-form" placeholder="Email Address" required="">
          <input type="submit" class="submit blak-btn" value="+">
      </form>
      <div class="lets_meet">
        <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
        </a>
      </div>
      <h3 class="mt80 mb30 rposts noshow1199andunder">RELATED POSTS:</h3>
      <% @related_blogs.each do |rblog| %>
        <div class="rblogs mb30 noshow1199andunder">
          <%= link_to blog_path(rblog.title_for_slug) do %> 
            <%= image_tag(rblog.image_medium, class:'img-responsive') if rblog.image_medium.present? %>
          <% end %>
          <h4><%= link_to rblog.title, blog_path(rblog.title_for_slug), class: 'h2 index_blogs_title' %></h4>
          <p><%= link_to HTML_Truncator.truncate(rblog.content_index, 20).html_safe, blog_path(rblog.title_for_slug), class: "index_blogs_snippet" %></p>
          <%#= link_to 'Read More', blog_path(rblog.title_for_slug), class:"btn btn-gray" %>
        </div>
      <% end %>

    </div>

  </div>
</div>

<%= render 'layouts/footer' %>
