<% provide(:title, 'The Who, What, Where, Why, and How | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Since our 2014 founding, we've only had one directive: exceed expectations. Our team is led by South Florida natives with decades of marketing experience.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">


  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="The Who, What, Where, Why, and How | Keenability Boca Raton">
  <meta name="twitter:description" content="Since our 2014 founding, we've only had one directive: exceed expectations. Our team is led by South Florida natives with decades of marketing experience.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="The Who, What, Where, Why, and How | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg" /> 
  <meta property="og:description" content="Since our 2014 founding, we've only had one directive: exceed expectations. Our team is led by South Florida natives with decades of marketing experience." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Since our 2014 founding, we've only had one directive: exceed expectations. Our team is led by South Florida natives with decades of marketing experience."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>

<div class="hero-about"></div>

<div class="container mt40 mb30">
	

	<div class="row">
		<div class="col-md-4 text-right">
			<img src="https://s3.amazonaws.com/keenwebsite/about/about_icon.gif" class="gif"	alt="Keenability">
		</div>
		<div class="col-md-4">
			<p class="bold">
				If you're after the same old same old, then these aren't the droids you're looking for. Our Boca Raton advertising agency is setting new standards.
			</p>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row mt40">
		<div class="col-md-4 text-right">
			<h2>Capabilities</h2>
			<p>We approach marketing with the same tenacity as a certain young wizard trying to defeat He Who Must Not Be Named. After all, we're kind of wizards in our own right, at least when it comes to creating beautiful brands and unbeatable marketing strategies.</p>
		</div>
		<div class="col-md-8">
			<img src="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg" width="100%" height="auto" alt="">				
		</div>
	</div>
	

	<div class="row mt40 noshow991andunder">
		<div class="col-md-6 text-right">
		  <div class="row">
		  	<div class="col-md-4"></div>
				<div class="col-md-4 text-right">
					<img src="https://s3.amazonaws.com/keenwebsite/about/creative_icon.jpg" alt="" class="img-responsive" id="creative_img">
				</div>
				<div class="col-md-4 text-left">
					<img src="https://s3.amazonaws.com/keenwebsite/about/digital_icon.jpg" alt="" class="img-responsive" id="digital_img">
				</div>
			</div>
		  <div class="row mt30">
			  <div class="col-md-4"></div>
				<div class="col-md-4 text-right">
					<img src="https://s3.amazonaws.com/keenwebsite/about/marketing_icon.jpg" alt="" class="img-responsive" id="marketing_img">
				</div>
				<div class="col-md-4 text-left">
					<img src="https://s3.amazonaws.com/keenwebsite/about/public_relations_icon.jpg" alt="" class="img-responsive" id="public_relations_img">
				</div>
			</div>
		</div>

		<div class="col-md-6" id="img_content">
		</div>
	</div>
	

	<div class="row mt20">
		<div class="col-md-offset-7 col-md-5 text-right">
			<h2>The #KeenTeam</h2>
			<p>We're too busy designing your new website and executing marketing strategy to pose for headshots. Instead, here's a look at our team in action.</p>
		</div>
	</div>
	

	<div class="row">
		<div class="col-lg-offset-6 col-lg-6 col-md-offset-5 col-md-7 col-sm-offset-4 col-sm-8 text-right">
      <a href="https://www.instagram.com/keenability/" target="blank">
        <img src="https://s3.amazonaws.com/keenwebsite/about/keen-instagram.jpg" width="450px" alt="" class="pb10 keen-instagram">
      </a>

			<div id="instafeed"></div>
		</div>
	</div>
	

	<div class="row mt40">
		<div class="col-md-4 text-right">
			<h2>Our partners<br><span style="font-weight: 200; color: #d3d3d3;">are talking</span></h2>
			<p>Keenability was founded on the belief that great results can only be achieved by functioning as an in-house marketing team, that just so happens to not be quite in-house. We don't have clients, we have partners, and we're ready for you to become one of them.</p>
		</div>
		<div class="col-md-8">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<img src="https://s3.amazonaws.com/keenwebsite/about/about_testmonial_4.jpg" width="90%" height="auto" alt="">
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/keenwebsite/about/about_testmonial_2.jpg" width="90%" height="auto" alt="">
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/keenwebsite/about/about_testmonial_3.jpg" width="90%" height="auto" alt="">
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/keenwebsite/about/about_testmonial.jpg" width="90%" height="auto" alt="">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row mt50 mb50">
    <div class="col-xs-12 text-center lets_meet">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
	</div>


</div>

<%= render 'layouts/footer' %>

