<%= render 'layouts/static_header' %>

<div class="heroline"></div>


<div class="container mt40 mb30 myerror">
  

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text center">
      <img src="https://s3.amazonaws.com/keenwebsite/general/sad_keen_404.jpg" class="center-block img-responsive" width="125" alt="Keenability">
      <h1 class="mt40 text-center pb20">Page Not Found</h1>
      <p class="mt20 text-center pb20" style="font-size: 15px;">
        Sorry, the page you requested cannot be found. <br>
        Perhaps you can find it in the list below.
      </p>
      <ul>
        <li class="text-center mt10 mb10"><a href="/about" class="error_page_link">About</a></li>
        <li class="text-center mt10 mb10"><a href="/portfolio" class="error_page_link">Portfolio</a></li>
        <li class="text-center mt10 mb10"><a href="/connect" class="error_page_link">Connect</a></li>
        <li class="text-center mt10 mb40"><a href="/blogs" class="error_page_link">Insights</a></li>
      </ul>
    </div>
  </div>
  

</div>


<%= render 'layouts/footer' %>