<% provide(:title, 'Call or E-mail Our Local Marketing Agency | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Contact our home base in Boca Raton by landline, e-mail, or even by owl! We make ourselves available to all past, current, and prospective clients.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Call or E-mail Our Local Marketing Agency | Keenability Boca Raton">
  <meta name="twitter:description" content="Contact our home base in Boca Raton by landline, e-mail, or even by owl! We make ourselves available to all past, current, and prospective clients.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/connect/connect_header.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/connect/connect_header.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Call or E-mail Our Local Marketing Agency | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/connect/connect_header.jpg" /> 
  <meta property="og:description" content="Contact our home base in Boca Raton by landline, e-mail, or even by owl! We make ourselves available to all past, current, and prospective clients." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/connect/connect_header.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Contact our home base in Boca Raton by landline, e-mail, or even by owl! We make ourselves available to all past, current, and prospective clients."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<%= render 'layouts/static_header' %>

<div class="hero-contact"></div>

<div class="container mt50 mb50">
	<div class="row">
		<div class="col-md-6 text-right">
			<h2 class="font-bold fts37">Ready to elevate<br> your brand?</h2>
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-6 text-right mt30">
			<p class="p_connect"><a href="mailto:hello@keenability.com" style="color: #45606a;">hello@keenability.com</a></p> 
			<p class="p_connect"><a href="tel:15617569720" style="color: #45606a;">561.756.9720</a></p>
			<br>
			<address>
				<p class="p_connect">4181 NW 1st Ave, Suite 8</p>
				<p class="p_connect">Boca Raton, Fl 33431</p>
			</address>
		</div>
		<div class="col-md-6 mt30">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3574.1066402869887!2d-80.08662115300646!3d26.387742177795616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d91e729a78e127%3A0x661cc5a4ecfdfb6e!2sKeenability%2C+Inc.!5e0!3m2!1sen!2sus!4v1510006087929" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row">
    <div class="cform col-md-12 mt40" id="cform">
		  <%= form_for Contact.new, :url => contacts_url, method: :post do |f|  %>
		  <div class="row">
		    <div class="col-sm-6 phone">
		    	<h3 class="font-bold fts37"><%= @thank_you.present? ? @thank_you : "let's talk" %></h3>
		    </div>
		    <div class="col-sm-6">
		      <div class="form-group">
		        <%= f.label :name, class: "sr-only" %>
		        <%= f.text_field :name, class: "form-control text-right string", placeholder: "Full Name", required: true %>
		      </div>
		      <div class="form-group">
		        <%= f.label :email, class: "sr-only" %>
		        <%= f.email_field :email, class: "form-control text-right string", placeholder: "Email", required: true %>
		      </div>
		      <div class="form-group">
		        <%= f.label :phone_number, class: "sr-only" %>
		        <%= f.text_field :phone_number, class: "form-control text-right string", placeholder: "Phone", required: true %>
		      </div>
		      <div class="form-group">
		        <%= f.label :message, class: "sr-only" %>
		        <%= f.text_area :message, class: "form-control text-right pt50", rows: 1, placeholder: "Message", required: true %>
		      </div>
		      <div class="form-group">
		        <%= f.submit "Send", class: "btn btn-black pull-right" %>
		      </div>
		    </div>
		    <div class="col-sm-6 mt75 cpu">
          <% if @thank_you.present? %>
            <h3 class="font-bold fts37 color-peach"><%= @thank_you %></h3>
          <% else %>
  		    	<h3 class="font-bold fts37">let's talk</h3>
          <% end %>
		    </div>
		  </div>
		  <% end %>
		</div>
	</div>

</div>

<%= render 'layouts/footer' %>
