<% provide(:title, 'Amplify Your Story | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Keen creative and beautiful brands produced by our full-service Boca Raton marketing agency. Achieving your goals is the only way we measure success.">
  <meta name="keywords" content="">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Amplify Your Story | Keenability Boca Raton">
  <meta name="twitter:description" content="Keen creative and beautiful brands produced by our full-service Boca Raton marketing agency. Achieving your goals is the only way we measure success.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Amplify Your Story | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg" /> 
  <meta property="og:description" content="Keen creative and beautiful brands produced by our full-service Boca Raton marketing agency. Achieving your goals is the only way we measure success." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/about/about_sample_work_pic.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Keen creative and beautiful brands produced by our full-service Boca Raton marketing agency. Achieving your goals is the only way we measure success."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<div class="wrapper">
  
  <%= render 'layouts/header' %>
	
	<div class="page">
		
		<div class="relative">
			<div id="prlx_welcome_lyr_noparallax"></div>
			<div id="prlx_welcome_lyr_0"></div>
			<div id="prlx_welcome_lyr_1"></div>
			<div id="prlx_welcome_lyr_2"></div>
			<div id="prlx_welcome_lyr_3"></div>
		</div>
			
		<div class="relative">
			<a href="/about">
				<div id="prlx_about_lyr_noparallax"></div>
				<div id="prlx_about_lyr_0"></div>
				<div id="prlx_about_lyr_1"></div>
				<div id="prlx_about_lyr_2"></div>
				<div id="prlx_about_lyr_3"></div>
			</a>
		</div>

		<div class="relative">
			<a href="/portfolio">
				<div id="prlx_spot_lyr_noparallax"></div>
				<div id="prlx_spot_lyr_0"></div>
				<div id="prlx_spot_lyr_1"></div>
				<div id="prlx_spot_lyr_2"></div>
				<div id="prlx_spot_lyr_3"></div>
			</a>
		</div>

		<div class="relative">
			<a data-toggle="modal" data-target="#myModal" class="clickable go_to_connect">
				<div id="prlx_connect_lyr_noparallax"></div>
				<div id="prlx_connect_lyr_0"></div>
				<div id="prlx_connect_lyr_1"></div>
				<div id="prlx_connect_lyr_2"></div>
				<div id="prlx_connect_lyr_3"></div>
			</a>
		</div>

	</div>

	<%= render 'layouts/footer' %>

</div>






