<% provide(:title, 'Amplify Your Story | Keenability Boca Raton - Privacy Policy') %>

<%= render 'layouts/static_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <img src="https://s3.amazonaws.com/keenwebsite/about/about_icon.gif" class="gif"  alt="Keenability">
        Privacy Policy
      </h1>
      <h3>Keenability.com Privacy Policy</h3>
        <p>
          This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
        </p>

        <h3>What information do we collect?</h3>

        <p>
          When ordering or registering on our site, as appropriate, you may be asked to enter your Name, Email address, Phone number or other details to help you with your experience.
        </p>

        <h3>When do we collect information?</h3>

        <p>
          We collect information from you when you subscribe to a newsletter, fill out a form or enter information on our site.
        </p>

        <h3>How do we use your information?</h3>

        <p>
          We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        </p>

        <ul>
          <li>To improve our website in order to better serve you.</li>
          <li>To allow us to better service you in responding to your customer service requests.</li>
          <li>To send periodic emails regarding your order or other products and services.</li>
        </ul>

        <h3>How do we protect visitor information?</h3>

        <p>
          We do not use vulnerability scanning and/or scanning to PCI standards.
          We use an SSL certificate and implement security measures when a user:
        </p>

        <ul>
          <li>enters, submits, or accesses their information.</li>
        </ul>

        <p>We use a payment gateway provider.</p>

        <h3>Do we use ‘cookies’?</h3>

        <p>
          We use cookies to: <br>
          Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.
          It won’t affect the users experience
        </p>

        <h3>Third Party Disclosure</h3>

        <p>We do not sell, trade, or otherwise transfer Personally Identifiable Information.</p>

        <h3>Third party links</h3>

        <p>We do not include or offer third party products or services on our website.</p>

        <h3>Google</h3>

        <p>
          We use Google AdSense Advertising on our website. <br>
          Google, as a third party vendor, uses cookies to serve ads on our site. Google’s use of the DART cookie enables it to serve ads to our users based on their visit to our site and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy. <br>
          We have implemented the following:
        </p>
        <ul>
          <li>Remarketing with Google AdSense</li>
          <li>Google Display Network Impression Reporting</li>
          <li>Demographics and Interests Reporting</li>
        </ul>
        <p>
          We and third party vendors such as Google use:
          To compile data regarding user interactions with ad impressions, and other ad service functions as they relate to our website.
        </p>

        <p>Opting out:</p>
        
        <p>
          Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.
        </p>

        <h3>California Online Privacy Protection Act</h3>

        <p>
          According to CalOPPA we agree to the following:
          Users can visit our site anonymously
          Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.
          Our Privacy Policy link includes the word ‘Privacy’, and can be easily be found on the page specified above.
        </p>
  
        <p>
          Users will be notified of any privacy policy changes: <br>
          • On our Privacy Policy Page <br>
          Users are able to change their personal information: <br>
          • By emailing us <br>
          • By calling us
        </p>

        <h3>How does our site handle do not track signals?</h3>

        <p>
          We honor them and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
        </p>

        <h3>Does our site allow third party behavioral tracking?</h3>

        <p>
          We allow
        </p>

        <h3>COPPA (Children Online Privacy Protection Act)</h3>

        <p>We do not specifically market to children under 13</p>

        <h3>Fair Information Practices</h3>

        <p>
          In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur: <br>
          We will notify the users via email
        </p>

        <ul>
          <li>Within 7 business days</li>
        </ul>
        
        <p>
          We agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors
        </p>

        <h3>CAN SPAM Act</h3>
        
        <p>
          We collect your email address: <br>
          To send information, respond to inquiries, and/or other requests or questions. <br>
          To market to our mailing list or continue to send emails to your clients after the original transaction has occured <br>

          To be accordance with CANSPAM we agree to the following: <br>
          We will NOT use false, or misleading subjects or email addresses <br>
          We will identify the message as an advertisement in some reasonable way <br>
          We will include the physical address of our business or site headquarters <br>
          We will monitor third party email marketing services for compliance, if one is used. <br>
          We will honor opt-out/unsubscribe requests quickly <br>
          We will give an ‘opt-out’ or ‘unsubscribe’ option <br>

          If at any time you would like to unsubscribe from receiving future emails, you can
        </p>

        <ul>
          <li>Follow the instructions at the bottom of each email.</li>
        </ul>

        <h3>Contact Information</h3>

        <p>
          <a href="https://www.keenability.com" >keenability.com</a> <br>

          4181 NW 1st Ave, Suite 8 <br>
          Boca Raton, Florida 33431 <br>

          <a href="mailto:hello@keenability.com">hello@keenability.com</a> <br>
          <a href="tel:5617569720">561-756-9720</a><br>
        </p>      
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
