<h1>You have recevied a new lead for Keenability</h1>

<h3>Contact Details</h3>

<p>Full name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone_number if @contact.phone_number.present? %></p>
<p>Message: <%= @contact.message %></p>
