  <div class="row mt40">
    <div class="col-md-12 mb70">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <a href="/portfolio/boca-luxury-realty">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_BLR_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
        <div class="item">
          <a href="/portfolio/gcg-group-rebrand">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_GCG_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
        <div class="item">
          <a href="/portfolio/old-palm-golf-club">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_oldpalm_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
        <div class="item">
          <a href="/portfolio/fau">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_fau_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
        <div class="item">
          <a href="/portfolio/graham-legal">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_graham_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
        <div class="item">
          <a href="/portfolio/stein-posner">
            <img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_stein_thumb.jpg" width="90%" height="auto" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>