<% provide(:title, 'Case Study: Boca Luxury Realty | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign and collateral we produced for our client, Boca Luxury Realty.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">


  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="The Who, What, Where, Why, and How | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign and collateral we produced for our client, Boca Luxury Realty.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_02.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_02.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="The Who, What, Where, Why, and How | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_02.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign and collateral we produced for our client, Boca Luxury Realty." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_02.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign and collateral we produced for our client, Boca Luxury Realty."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_01.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt30 blr_top_paragraph">
      <p>Boca Raton is teaming with luxury real estate firms, and Boca Luxury Realty was ready to stand out from the crowd. Of course, distinguising the brokerage was no easy task, so they approached our Boca Raton marketing agency for a little help. Fun fact? We love a good challenge.</p>
    </div>
    <div class="col-md-12">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_02.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-12 mt40 mb40">
      <p>First thing first: Boca Luxury Realty needed a solid brand from which its marketing efforts could grow. After being presented with a trio of logo suites, the owner of the firm decided on the "key" symbol, and thus a new brand direction was born. The color palette, logo and tagline came next, with the creation of complementary marketing collateral to follow, such as stationery and business cards.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_03.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_04.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_05.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_06.jpg" alt="" class="img-responsive">
      <p class="mt20">Today, the Boca Raton real estate brokerage has a strong, consistent brand that shows in every aspect of marketing. As a direct result of our team's efforts, Boca Expert Realty has continued to grow in terms of both size and clientele. We look forward to playing a role in the firm's future success by providing keen creative and expert guidance.</p>
    </div>
    <div class="col-md-6 mt90">
      <p class="mt50">From there, it was time to tackle the online arena. Our team conceptualized the functionality and design for the company's new website, integrating the IDX feed seamlessly and ensuring it was responsive across devices. With a new site in place, the stage was set for targeted marketing campaigns. We have continued our partnership since launching the site with several mailer campaigns and print pieces.</p>
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/boca-luxury-realty/BLR_07.jpg" alt="" class="img-responsive mt90">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>

</div>


<%= render 'layouts/footer' %>