<% provide(:title, 'Case Study: Florida Atlantic University | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign, PPC, and social media campaigns we produced for our client, Florida Atlantic University's Center for eLearning.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Case Study: Florida Atlantic University | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign, PPC, and social media campaigns we produced for our client, Florida Atlantic University's Center for eLearning.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_06.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_06.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Case Study: Florida Atlantic University | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_06.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign, PPC, and social media campaigns we produced for our client, Florida Atlantic University's Center for eLearning." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_06.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign, PPC, and social media campaigns we produced for our client, Florida Atlantic University's Center for eLearning."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_01.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt30 fau_top_paragraph">
      <p>Florida Atlantic University’s Center for eLearning is responsible for overseeing all online courses offered by the institution. In addition to increasing awareness of online learning opportunities offered by the college, of its most crucial functions is securing enrollments for its online programs. These programs have achieved top rankings on both a state and national level.</p>
    </div>
    <div class="col-md-12">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_02.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10 col-md-offset-1 mt40 mb40">
      <p>When the Florida Atlantic University Center for eLearning approached our team, applications for its online programs were at an all-time low. The office was receiving only 10 leads per month, and just 34 percent of these leads chose to fill out an application. Understandably, the college’s enrollment rates were low as well, as only 3 percent of applicants selected Florida Atlantic as their online school of choice. The Center for eLearning knew something had to change, and sought out our expertise to help grow its leads, applications, and ultimately enrollments.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_03.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_04.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt30">
      <p>To help the FAU Center for eLearning boost awareness and increase qualified leads on a small budget, we launched a 5-month digital marketing campaign, "Learn @ the Speed of Life.” The campaign targeted three key groups who can most benefit from online learning: busy moms, parents and individuals who work late. Considering the target demographics, Facebook was chosen as the platform of choice for displaying the ads, Users were driven to three targeted landing pages depending on the group they belonged to. Organic social media posts were also incorporated on Facebook, Twitter and Instagram to expand the campaign’s reach.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_05.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt30">
      <p>The campaign proved to be a success, increasing leads by 1,800%. The Center for eLearning received 950 leads throughout the duration of our campaign, averaging 190 per month. We helped them manage this spike in interest by hiring an in-house sales manager for interested students. This addition was also a vital factor in application rates increasing by 1,235%, with 76% of interested students proceeding to this step. By the campaign’s completion, the influx of qualified leads lead to a enrollments growing by more than 10 times the initial number. Of the applicants during this time period, 31% were admitted to FAU, compared to just 3% prior to “Learn @ the Speed of Life.”</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/fau/FAU_06.jpg" alt="" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>

</div>


<%= render 'layouts/footer' %>