<% provide(:title, 'Case Study: GCG Group | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign, website, and social media campaign we produced for our client, GCG Group.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Case Study: GCG Group | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign, website, and social media campaign we produced for our client, GCG Group.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-05.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-05.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Case Study: GCG Group | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-05.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign, website, and social media campaign we produced for our client, GCG Group." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-05.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign, website, and social media campaign we produced for our client, GCG Group."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-Intro.gif" alt="" class="img-responsive">
    </div>
    <div class="col-md-5 mt90">
      <p>Formally Goddard Catering Goup, GCG Group is a leading provider of airline, industrial and event catering services in the Caribbean and Latin America. It is a member of the Goddard Enterprises Group of Companies, and oversees three divisions of its own: GCG Catering, GCG Ground and GCG Events.</p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-6 mt75">
      <p>When the company sought out our services, we were originally tasked with designing just two logos: one for GCG Ground Services and one of GCG Catering. However, we quickly realized the branding for the group of companies was not only inconsistent, but failed to establish a relationship between each division. In fact, the parent company did not exist at all. Rather than put a bandaid on the situation and complete solely the requested logos, we opted to use the opportunity to give the companies a complete brand to fall back on — and thus GCG Group and its aptly named subdivisions were born.</p>
    </div>
    <div class="col-md-6 mt20">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-01.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-03.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-02.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt40">
      <p>
        With a naming strategy in place and approval from the company itself, we began the branding process for each division. Our talented designers presented the leadership team with an array of options, who ultimately decided on a group of logos that incorporated similar arrows, while communicating a message specific to that particular brand. For instance, the icon for GCG Events is an abstract version of a server’s hand holding a tray, while the GCG Ground icon represents an airplane taking off.
      </p>
    </div>
    <div class="col-md-4 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-04-a.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-4 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-04-b.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-4 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-04-c.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10 col-md-offset-1 mt40">
      <p>Once the brand was approved, we created extensive and incredibly detailed brand guidelines. With 35 different locations, each with a wide array of materials to which branding would be applied, this step was key for ensuring inconsistency is not a problem again in the future. From there, it was decided that GCG Group and each of its three divisions would need a dedicated site, and so our team got to work. We designed, wrote and built four unique websites, which are due to launch in the near future.</p>
    </div>
    <div class="col-md-12 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-05.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <p>
        Simultaneously, our team took the reigns for GCG Group’s and GCG Events’ social media marketing. Before we began managing the accounts, there was no strategy guiding the existing accounts, and thus the brand was being misrepresented on several social media platforms. To rectify this issue, we recommended consolidating the many accounts for each location. Now, GCG Events has a single account on both Facebook and Instagram, while GCG Group has one account on LinkedIn and one on Facebook. All accounts are guided by a thorough strategy to ensure consistent brand messaging.
      </p>
      <p>
        Backed by a cohesive new brand, GCG Group has set the stage for future growth in terms of clients, employees and even locations. The relationship between the parent company and its subdivisions is now clear, allowing for more recognition within each specific industry. The company has also witnessed an increase in social media engagement since our team took over, and we’ve only just begun. As our partnership progresses, we hope to continue to build upon GCG Group’s success and help solidify the group of companies as the premier provider of catering and ground services.
      </p>
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-06.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-12 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/gcg-group-rebrand/GCG-07.jpg" alt="" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>

</div>


<%= render 'layouts/footer' %>