<% provide(:title, 'Case Study: Graham Legal, P.A. | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Graham Legal, P.A.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Case Study: Graham Legal, P.A. | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Graham Legal, P.A.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-03.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-03.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Case Study: Graham Legal, P.A. | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-03.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Graham Legal, P.A." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-03.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign, website, and social media campaigns we produced for our client, Graham Legal, P.A."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt20">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-Intro.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt60">
      <p>Graham Legal, P.A. is a top-rated law firm in Miami, Florida. The firm’s core practice areas are foreclosure defense, personal injury, and probate law. When Graham Legal began working with our team, it lacked a strong brand and a digital marketing strategy. As the foreclosure market began slowing down in recent years, Graham Legal had to fight harder to gain new business. Notwithstanding, the firm lacked both the brand and the strategy to get the exposure necessary to attract new clients. Graham Legal approached Keenability in hopes of developing a digital strategy that would allow its attorneys to secure more qualified leads.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt60 mb40">
      <p>
        Graham Legal, P.A. brought our team on board to help with the firm’s marketing execution, including ongoing digital advertising, a monthly email program, content management, blogging, and social media management. Upon seeing the caliber of our work, they made the decision to completely overhaul the firm’s marketing initiatives and website. 
      </p>
      <p>  
        We started by refining the Graham Legal brand to improve recognizability among potential clients. Then, we increased its website ratings using search engine optimization techniques such as tagging, creating content that is keyword focused and engaging, and making the navigation more intuitive— all of which ultimately improved the user experience, increasing traffic, and improving the website’s organic search rankings. 
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-00.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-01.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-02.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt40">
      <p>
        We also used email marketing, digital advertising, and social media for additional exposure. Due to the clients low budget we used a mix of PPC on both AdWords and Bing, and social media advertising based on keyword competition, along with a dedicated landing page. As our relationship progressed, we decided a brand new website would be in the client’s best interest. So, our in-house designers, developers, copywriters, and digital specialists got to work to bring it to life.
      </p>
    </div>
    <div class="col-md-12 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-03.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <p>
        Our partnership continues still today, with our services encompassing website management, digital marketing, blogging, and social media management. We make the most of the client’s budget by utilizing a mixture of PPC on both AdWords and Bing, and social media advertising based on keyword competition, along with a dedicated landing page.
      </p>
    </div>
    <div class="col-md-6 mt40">
      <p>
        Throughout the course of our partnership, we have successfully earned Graham Legal top rankings for several keywords along with an increased awareness within its target audience, ultimately leading to more business. As a direct result of working with our team, Graham Legal has maintained a healthy caseload despite dwindling foreclosures in the area. We also helped the firm generate substantial leads for new areas of practice. Finally, we increased Graham Legal’s website traffic by more than 55%, decreased the website’s bounce rate by 80%, and increased the completion of lead forms by 75%.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-04.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/graham-legal/graham-05.jpg" alt="" class="img-responsive">
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>
  
</div>



<%= render 'layouts/footer' %>