<% provide(:title, 'Branding and Marketing Strategy Portfolio | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="See our campaigns, collateral, and results with your own eyes. Our branding and marketing strategy portfolio is extensive and immersive.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Branding and Marketing Strategy Portfolio | Keenability Boca Raton">
  <meta name="twitter:description" content="See our campaigns, collateral, and results with your own eyes. Our branding and marketing strategy portfolio is extensive and immersive.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_header.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_header.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Branding and Marketing Strategy Portfolio | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_header.jpg" /> 
  <meta property="og:description" content="See our campaigns, collateral, and results with your own eyes. Our branding and marketing strategy portfolio is extensive and immersive." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_header.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "See our campaigns, collateral, and results with your own eyes. Our branding and marketing strategy portfolio is extensive and immersive."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<%= render 'layouts/static_header' %>


<div class="heroline"></div>
<div class="hero-portfolio"></div>
<div class="heroline"></div>

<div class="container mt60 mb30">

    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/boca-luxury-realty"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_BLR_thumb.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/gcg-group-rebrand"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_GCG_thumb.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/old-palm-golf-club"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_oldpalm_thumb.jpg" alt="" class="img-responsive"></a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/fau"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_fau_thumb.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/graham-legal"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_graham_thumb.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mb30">
      <a href="/portfolio/stein-posner"><img src="https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_stein_thumb.jpg" alt="" class="img-responsive"></a>
    </div>

    <div class="col-xs-12 text-center lets_meet mt50 mb50">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>

</div>

<%= render 'layouts/footer' %>

