<% provide(:title, 'Case Study: Old Palm Golf Club | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign, website, PPC, and social media campaigns we produced for our client, Old Palm Golf Club.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">

  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Case Study: Old Palm Golf Club | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign, website, PPC, and social media campaigns we produced for our client, Old Palm Golf Club.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-05.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-05.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Case Study: Old Palm Golf Club | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-05.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign, website, PPC, and social media campaigns we produced for our client, Old Palm Golf Club." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-05.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign, website, PPC, and social media campaigns we produced for our client, Old Palm Golf Club."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt20">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-Intro.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt60">
      <p>Located in Palm Beach Gardens, Florida, Old Palm Golf Club is one of the nation’s top golf club communities. The exclusive community offers its 330 residents a “live well lived,” providing only these select individuals with membership to the renowned golf club. When Old Palm came to Keenability, its on-site sales office sought to improve the existing marketing strategy for available real estate. In doing so, the goal was not only to accelerate sales, but to establish its dedicated sales team as the sole trusted resource for selling or purchasing a home at Old Palm.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt60 mb40">
      <p>
        Our team hit the ground running, developing a comprehensive marketing strategy that would help Old Palm achieve its goals and provide a solid platform for future growth. This strategy incorporated blogs, social media management, mailer campaigns, and a robust digital marketing plan. This plan incorporated PPC on both AdWords and Bing, as well as targeted Facebook advertising.
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-00.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-01.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-02.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt40">
      <p>
        In order to ensure our efforts were effective, we recommended a full redesign of the Old Palm website. The community’s current site was outdated, translating to a poor user experience that did little to facilitate closed sales. The new site is far more reflective of the upscale lifestyle offered at Old Palm, and has proved to be an effective tool for generating qualified leads.
      </p>
    </div>
    <div class="col-md-12 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-03.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt40">
      <p>
        Since partnering with our agency, Old Palm Golf Club has strengthened both its brand and its position as the top sales team for properties at the community. As a testament to this, the team nearly doubled its sales during the first 7 months of our partnership when comparing closed sales for the same time period the previous year. Website traffic has also increased to more than 15,000 unique users per month, a significant spike since before the redesign. Of course, we’re just getting started, and we’re looking forward to our continued partnership.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-04.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt30">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/old-palm/oldpalm-05.jpg" alt="" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>

</div>



<%= render 'layouts/footer' %>