<% provide(:title, 'Case Study: Stein Posner | Keenability Boca Raton') %>
<% content_for :head do%>
  <meta name="description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Stein Posner Real Estate.">
  <link rel="canonical" href="<%= request.url %>"/>
  <meta name="turbolinks-cache-control" content="no-cache">


  <meta name="author" content="Keenability">
  <meta property="article:author" content="https://www.facebook.com/Keenability">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Keenability">
  <meta name="twitter:title" content="Case Study: Stein Posner | Keenability Boca Raton">
  <meta name="twitter:description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Stein Posner Real Estate.">
  <meta name="twitter:creator" content="@Keenability"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-05.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-05.jpg">
  <meta name="twitter:domain" content="http://www.keenability.com">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Case Study: Stein Posner | Keenability Boca Raton" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-05.jpg" /> 
  <meta property="og:description" content="Discover the full branding campaign, website, and social media campaigns we produced for our client, Stein Posner Real Estate." /> 
  <meta property="og:site_name" content="Keenability" /> 
  <meta property="fb:admins" content="199462610236146" />
  <%# https://www.facebook.com/profile.php?id=199462610236146 %>

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Organization",
     "name": "Keenability",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png",
       "width": 1159,
       "height": 260
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-05.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Discover the full branding campaign, website, and social media campaigns we produced for our client, Stein Posner Real Estate."
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<%= render 'layouts/static_header' %>
<div class="heroline"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-intro.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-5 mt60">
      <p>Stein Posner Realty is a relatively new real estate brokerage firm located in Boca Raton, Florida. In spite of a constant level of extraordinary service and community involvement, Stein Posner had not yet reached its full potential when the company’s owners came to Keenability in search of solutions. In addition to growing its clientele, the firm sought to attract new agents as well.</p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40 spr_top_paragraph">
      <p>The biggest obstacle standing in Stein Posner’s way was a brand that was in no way reflective of the company’s approach to real estate. The current branding suggested a focus on sales rather than people, which we quickly found not to be the case after our first meeting. The brand also lacked proper guidelines, allowing for little to no recognition with prospective buyers and sellers. To rectify this issue, we developed a brand that aligned with the firm’s values, personality and methodology.</p>
    </div>
    <div class="col-md-6 mt50">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-01.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-02.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-03.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt40">
      <p>
        Our team established a strong brand for the firm, with a unique color palette and a new logo and tagline. Collateral designed for the Stein Posner team included: business cards, email signature, folder, letterhead, envelopes, two postcard templates (just listed and just sold), home brochure, three email templates, market report template, listing presentation, display ads, and social media images. A full day branding photoshoot was also held with our team at the helm. 
      </p>
      <p>
        With all necessary marketing collateral in place, Stein Posner needed to ensure its digital presence was reflective of the new look and feel of the brand. Keenability crafted the site in house from top to bottom. The process included research, web design, copywriting, programming, integration of IDX search and automated listings, and SEO.
      </p>
    </div>
    <div class="col-md-6 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-04.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt40">
      <img src="https://s3.amazonaws.com/keenwebsite/portfolio/stein-posner/stein-05.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt40">
      <p>
        After launching Stein Posner’s brand new site, it was time to get people there. Our team oversaw all of the firm’s marketing, both during and after the site’s launch. This included social media and email management, creation of blog content, SEO, AdWords management, and public relations. As our relationship continues, we also design new marketing materials on an ongoing business, ranging from business cards to full mailer campaigns.
      </p>
      <p>
        Stein Posner now has a strong brand that accurately represents what it stands for, while differentiating the brokerage from the many competitors in the local market. Its social media following has grown significantly across all key platforms, and its website traffic has tripled since the launch of the new site. Notably, organic leads have also become its number one generator of new clients. Additionally, our public relations team has secured coverage for the agency in numerous local and regional publications. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt60 mb20">
      <a data-toggle="modal" data-target="#myModal" class="go_to_connect"><img src="https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png" onmouseover="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_02.png'" onmouseout="this.src='https://s3.amazonaws.com/keenwebsite/general/lets_meet_01.png'" alt="">
      </a>
    </div>
  </div>

  <%= render partial: 'portfolios' %>


</div>


<%= render 'layouts/footer' %>