/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "variables";

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
}

a:hover {
  cursor: pointer;
}




.phone {
  display: none;
}

@media only screen and (max-width: 767px) {
  .phone {
    display: block;
  }
  .cpu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 18px;
    line-height: 26px;
  }
}




/*-----------------------------------------------Collect Chat--------------------------------------------*/


#collect-chat-launcher-container.collect-chat-avatar-launcher .collect-chat-launcher-button:after {
    background-color: #5bc3be !important;
    /*background-color: transparent !important;*/
}

#collect-chat-launcher-container.collect-chat-launcher-enabled .collect-chat-launcher-button {
    background-image: url("https://collectchatavatar.s3.amazonaws.com/5a4bc165dfcbbab4aa7c78b1-5a4bc166dfcbbab4aa7c78b2.jpg") !important;
}






/*-----------------------------------------------NAVIGATION--------------------------------------------*/


 .myerror h1 {
  border-bottom: 1px solid black;
 }

 .myerror ul {
  list-style-type: none;
 }
 .myerror a {
  font-size: 26px;
  color: black;
  font-weight: 700;
 }






/*-----------------------------------------------NAVIGATION--------------------------------------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 40px 50px 35px;
    border-bottom: 1px solid grey;
    /*background-color: white;*/
}


@media only screen and (max-width: 767px) {
  header {
    padding: 20px 20px;
  }
}

header#static {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 40px 50px 60px;
    border-bottom: none;
}

@media only screen and (max-width: 767px) {
  header#static {
    padding: 20px 20px 45px;
  }
}

.noborder {
  border-bottom: none;
}




/*-hamburger-icon-*/
#nav-icon {
  position: fixed;
  margin: 0;
  float: left;
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon.static {
  position: absolute;
}

/* The next 3 selectors add the class circle-menu to body tag, 
which is called via js to put a circle around the hamburger menu */
#nav-icon:after {
    opacity: 0;
    border-radius: 65px;
    background-color: #ffffff;
    position: relative;
    top: -21px;
    left: -12px;
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    z-index: 0;
}
.circle-menu #nav-icon:after  {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;

    -webkit-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    opacity: 1;
}
.circle-menu #nav-icon span:nth-child(1),
.circle-menu #nav-icon span:nth-child(2),
.circle-menu #nav-icon span:nth-child(3) {
    background: $dark-black;
    z-index: 2;
}

#nav-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}


/*This porttion animates the hamburger menu*/
  #nav-icon.animate-icon span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background: black;
  }

  #nav-icon.animate-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon.animate-icon span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: black;
  }

@media only screen and (max-width: 400px) {
  #nav-icon {
    width: 30px;
    height: 30px;
  }
  #nav-icon:after {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    top: -10px;
    left: -10px;
  }
  #nav-icon span {
    height: 3px;
  }
  #nav-icon span:nth-child(1) {
    top: 3px;
  }
  #nav-icon span:nth-child(2) {
    top: 13px;
  }
  #nav-icon span:nth-child(3) {
    top: 23px;
  }
}


/*-fullscreen-menu overlay-*/
#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 39;
  margin: 1.5%;
}

#overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $white;
  text-align: center;
}

#overlay ul li {
  margin:0 30px;
  display: inline-block;
}
#overlay ul li a {
  padding: 10px 30px;
  color: $black;
  text-decoration: none;
  transition: all .2s;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
#overlay ul li a:hover {
    border-left: 2px solid $light-black;
    border-right: 2px solid $light-black;
}


/*-Keenability Logo*/
.logo  {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -110px;
  top: 32px;
}

@media only screen and (max-width: 767px) {
  .logo  {
    width: 120px;
    margin-left: -60px;
    top: 21px;
  }
}

/*-Play button-*/
.icon-right  {
  float: right;
  text-align: center;
}

.icon-right i {
  color: black;
  font-size: 25px;
  margin-left: 0px;
}

.icon-right i {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.icon-right:hover i {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  color: $black;
}


/*-iframe modal-*/
.bs-example-modal-lg .modal-dialog {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
}
.bs-example-modal-lg .modal-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $black;
}
.bs-example-modal-lg .modal-body {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    padding: 45px;
}
.bs-example-modal-lg button.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $white;
    opacity: 1;
    font-size: 31px;
}
.bs-example-modal-lg button.close:hover {
    opacity: 0.8;
    color: $white;
}

/*The below could be classes from youtube iframe, not sure at the moment*/
/*a.icon-scroll {
  position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -13px;
}
a.icon-scroll i {
  color: $white;
  font-size: 30px;
}*/












/*--------------------------------------------HOME INDEX----------------------------------------------*/


.wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

.page {
    position: relative;
    z-index: 1;
}


/*-WELCOME-*/

.relative {
  position: relative;
  width: 100%;
  height: 100vh;
}


/*@media only screen and (max-width: 3000px) {*/
@media only screen and (min-aspect-ratio: 4/5) {
  #prlx_connect_lyr_6,
  #prlx_connect_lyr_5,
  #prlx_connect_lyr_4,
  #prlx_connect_lyr_3,
  #prlx_connect_lyr_2,
  #prlx_connect_lyr_1,
  #prlx_connect_lyr_0,
  #prlx_spot_lyr_3,
  #prlx_spot_lyr_2,
  #prlx_spot_lyr_1,
  #prlx_spot_lyr_0,
  #prlx_about_lyr_3,
  #prlx_about_lyr_2,
  #prlx_about_lyr_1,
  #prlx_about_lyr_0,
  #prlx_welcome_lyr_4,
  #prlx_welcome_lyr_3,
  #prlx_welcome_lyr_2,
  #prlx_welcome_lyr_1,
  #prlx_welcome_lyr_0 {
    position:absolute;
    top: 0;
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-welcome-lay0-1920x1318.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #prlx_welcome_lyr_1 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-welcome-lay1-1920x1318.png");
  }
  #prlx_welcome_lyr_2 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-welcome-lay2-1920x1318.png");
  }
  #prlx_welcome_lyr_3 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-welcome-lay3-1920x1318.png");
  }
  #prlx_welcome_lyr_4 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-welcome-lay4-1920x1318.png");
  }


  /*-ABOUT-*/

  #prlx_about_lyr_0 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-about-lay0-1920x1318.jpg");
  }
  #prlx_about_lyr_1 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-about-lay1-1920x1318.png");
  }
  #prlx_about_lyr_2 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-about-lay2-1920x1318.png");
  }
  #prlx_about_lyr_3 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-about-lay3-1920x1318.png");
  }


  /*-SPOT-*/

  #prlx_spot_lyr_0 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-spot-lay0-1920x1318.jpg");
  }
  #prlx_spot_lyr_1 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-spot-lay1-1920x1318.png");
  }
  #prlx_spot_lyr_2 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-spot-lay2-1920x1318.png");
  }
  #prlx_spot_lyr_3 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-spot-lay3-1920x1318.png");
  }


  /*-CONNECT-*/

  #prlx_connect_lyr_0 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay0-1920x1318.jpg");
  }
  #prlx_connect_lyr_1 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay1-1920x1318.png");
  }
  #prlx_connect_lyr_2 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay2-1920x1318.png");
  }
  #prlx_connect_lyr_3 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay3-1920x1318.png");
  }
  #prlx_connect_lyr_4 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay4-1920x1318.png");
  }
  #prlx_connect_lyr_5 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay5-1920x1318.png");
  }
  #prlx_connect_lyr_6 {
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/home-connect-lay6-1920x1318.jpg");
  }

  /*-CASES-*/
  .mobile {
    display: none !important;
  }
}
/*end 3000 media query*/


@media only screen and (min-width: 768px) {
  .connect_button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -83px;
  }
}

@media only screen and (max-width: 767px) {
  .connect_button {
    position: absolute;
    top: 80%;
    left: 50vw;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -100px;
  }
}

/*-CASES-*/

.myrelative {
  position: relative;
}

.owl-theme .owl-nav {
  margin-top: 0;
  height: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  padding: 0;
}

.leftside {
  position: absolute;
  height: 100%;
  width: 15%;
  cursor: pointer;
  z-index: 3;
}
.rightside {
  position: absolute;
  height: 100%;
  right: 0;
  width: 15%;
  cursor: pointer;
  z-index: 3;
}

.owl-prev .fa-chevron-left {
  color: #333;
  font-size: 2em;
  left: 10px;
  opacity: 0.5;
  position: absolute;
  top: 41%;
  background-color: white;
  border-radius: 100px;  
  padding: 8px 14px 8px 10px;
  opacity: 0;
  z-index: 5;
}

.leftside:hover ~ .owl-carousel>.owl-nav>.owl-prev>.fa-chevron-left {
  cursor: pointer;
  opacity: 0.5;
}

.owl-next .fa-chevron-right {
  color: #333;
  font-size: 2em;
  right: 10px;
  opacity: 0.5;
  position: absolute;
  top: 41%;
  background-color: white;
  border-radius: 100px;  
  padding: 8px 10px 8px 14px;
  opacity: 0;
  z-index: 5
}

.rightside:hover ~ .owl-carousel>.owl-nav>.owl-next>.fa-chevron-right {
  cursor: pointer;
  opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  background-color: gray;
  /*box-shadow: inset 0 0 0 0 gray;
  -webkit-transition: box-shadow linear 0ms;
  -moz-transition: box-shadow linear 0ms;
  transition: box-shadow linear 0ms;*/
}

.owl-theme .owl-dots .owl-dot.active span{
  background-color: white;
  /*box-shadow: inset 40px 0 0 0 white;
  -webkit-transition: box-shadow ease-out 5000ms;
  -moz-transition: box-shadow ease-out 5000ms;
  transition: box-shadow ease-out 5000ms;*/
}




/*-MOBILE-*/
@media only screen and (max-aspect-ratio: 4/5) {
/*@media only screen and (max-width: 768px) {*/
  #prlx_welcome_lyr_noparallax {
    position:absolute;
    top: 0;
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/mobile/mobile_home-welcome-lay-noparallax-683x1024.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #prlx_welcome_lyr_0 {
    background-image: none;
  }
  #prlx_welcome_lyr_1 {
    background-image: none;
  }
  #prlx_welcome_lyr_2 {
    background-image: none;
  }
  #prlx_welcome_lyr_3 {
    background-image: none;
  }
  #prlx_welcome_lyr_4 {
    background-image: none;
  }


  /*-ABOUT NOPARALLAX-*/
  
  #prlx_about_lyr_noparallax {
    position:absolute;
    top: 0;
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/mobile/mobile_home-about-lay-noparallax-683x1024.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #prlx_about_lyr_0 {
    background-image: none;
  }
  #prlx_about_lyr_1 {
    background-image: none;
  }
  #prlx_about_lyr_2 {
    background-image: none;
  }
  #prlx_about_lyr_3 {
    background-image: none;
  }


  /*-SPOT NOPARALLAX-*/
  
  #prlx_spot_lyr_noparallax {
    position:absolute;
    top: 0;
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/mobile/mobile_home-spot-lay-noparallax-683x1024.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #prlx_spot_lyr_0 {
    background-image: none;
  }
  #prlx_spot_lyr_1 {
    background-image: none;
  }
  #prlx_spot_lyr_2 {
    background-image: none;
  }
  #prlx_spot_lyr_3 {
    background-image: none;
  }


  /*-CONNECT NOPARALLAX-*/

  #prlx_connect_lyr_noparallax {
    position:absolute;
    top: 0;
    background-image: url("https://s3.amazonaws.com/keenwebsite/home/mobile/mobile_home-connect-lay-noparallax-683x1024.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #prlx_connect_lyr_0 {
    background-image: none;
  }
  #prlx_connect_lyr_1 {
    background-image: none;
  }
  #prlx_connect_lyr_2 {
    background-image: none;
  }
  #prlx_connect_lyr_3 {
    background-image: none;
  }
  #prlx_connect_lyr_4 {
    background-image: none;
  }

  /*-CASES-*/
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
/*end mobile for home page*/













/*------------------------------------------------------BLOGS-------------------------------------------------- */

.cat_active {
  font-weight: bold;
}

.blogs p {
  font-size: 18px;
  line-height: 26px;
}

.blogs p.small {
  font-size: 14px;
}

.blogs li br {
  display: none;
}

.blogs:not(footer p):not(footer a) {
  font-size: 20px;
  font-weight: 300;
}

.blogs.index h4:not(footer p):not(footer a) {
  font-size: 20px;
}

.blogs.index h4 a:not(footer p):not(footer a) {
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.blogs .lets_meet img{
  padding-top: 20px;
  width: 100%;
  height: auto;
  max-width: 160px;
  text-align: left;
  /*margin: auto;*/
  display: block;
}

.blogs .lets_meet a {
  display: inline-block;
}

.index_blogs_title, .index_blogs_snippet {
  color: inherit;
  &:hover {
    text-decoration: underline !important;
  }
}

.blogs a:not(footer p):not(footer a) {
  color: #337ab7;
}

.blogs.index a:not(footer a) {
  color: #333333;
}

.blogs.index_category a:not(footer a) {
  color: #333333;
}

.blogs.index p:not(footer p):not(footer a) {
  font-size: 14px;
  line-height: 1.5;
}

.blogs.show h4:first-child {
  font-size: 30px;
}

.btn-gray {
  color: #656565 !important;
  background-color: #ccc;
  border-color: #ccc;
  &:hover {
    color: #656565;
    background-color: #ccc;
    border-color: #ccc;
    opacity: 0.7;
  };
}

.btn-dark {
  color: #fff !important;
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  &:hover {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
    opacity: 0.7;
  };
}

.btn-green {
  font-weight: 600;
  color: white !important;
  background-color: #6cbcb6;
  border-color: #6cbcb6;
  &:hover {
    color: white !important;
    background-color: #6cbcb6;
    border-color: #6cbcb6;
    opacity: 0.7;
  };
}

.hero-contact,
.hero-about,
.hero-portfolio,
.hero-blogs {
  background-image: url("https://s3.amazonaws.com/keenwebsite/blogs/Main_blog_Insights_header.jpg");
  background-size: cover;
  min-height: 350px;
  background-position: 50% 50%;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  /*border-bottom: 1px solid gray;*/
  /*border-top: 1px solid gray;*/
}

.hero-about {
  background-image: url("https://s3.amazonaws.com/keenwebsite/about/about_header.jpg");
  background-color: black;
}

.hero-portfolio {
  background-image: url("https://s3.amazonaws.com/keenwebsite/portfolio/index/spotlight_header.jpg");
}
.hero-contact {
  background-image: url("https://s3.amazonaws.com/keenwebsite/connect/connect_header.jpg");
}

.heroline {
  border-bottom: 1px solid gray;
  width: 92%;
  margin: 0 auto;
}



@media only screen and (max-width: 767px) {
  .hero-contact,
  .hero-portfolio,
  .hero-about,
  .hero-blogs {
    min-height: 220px;
  }
}

ul.cats {
  padding-left: 10px;
}

.cats>li {
  font-size: 0.9em;
  list-style: none; 
  padding: 0 10px 6px 0;
}


.left-border {
  border-left: 1px solid gray;
  padding-left: 50px;
}

@media only screen and (max-width: 1199px) {
  .left-border {
    border-left: none;
    margin-top: 40px;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 600px) {
  .cats>li {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .myalignment {
    text-align: right;
  }
}
@media only screen and (min-width: 768px) {
  .reversealignment {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .mobileonly {
    display: none;
  }
}

.rposts {
  font-size: 17px;
}

.rblogs h4 a{
  font-size: 20px !important;
  color: black;
}

.rblogs p {
  font-size: 14px;  
  line-height: 1.45;
}

.newsletter {
  font-size: 17px;
}

.share_social a {
  & .fa-facebook-official {
    color: #3B5998;
  }
  & .fa-twitter {
    color: #1dcaff;
  }
  & .fa-linkedin {
    color: #007bb6;
  }
}


/* -- Pagination -- */


.pagination {
  font-size: 16px;
}


.pagination a:not(.current):not(.next_page):not(.previous_page):not(.last_page):not(.first_page) {
  display: none;
}
.pagination .gap {
  display: none;
}
.pagination .current {
  font-style: normal;
  padding-left: 10px; 
  padding-right: 10px;
  font-weight: normal; 
}
.pagination .next_page.disabled {
  display: none;
}
.pagination .previous_page.disabled {
  display: none;
}
.blog_page_arrow {
  padding: 2px 5px;
  border: 1px solid #333;
  color: #333;
}
.last_page {
  margin-left: 10px;
  color: #333;
  border: 1px solid #333;
  padding: 2px 5px;
}
.first_page {
  margin-right: 10px;
  color: #333;
  border: 1px solid #333;
  padding: 2px 5px;
}
















/*---------------------------------------------------ABOUT----------------------------------------------------*/

.home.about p {
  font-size: 18px;
  line-height: 26px;
}

@media only screen and (max-width: 991px) {
  .about_icons {
    margin-top: 30px;
  }
}

.bold {
  font-weight: bold;
}

.gif {
  width: 180px;
  height: 180px;
}

@media only screen and (max-width: 767px) {
  .gif {
    width: 90px;
    height: 90px;
    float: right;
    margin-left: 7px;
    margin-top: 5px;
  }
}






/*---------------------------------------------------SPOTLIGHT CASES----------------------------------------------------*/

.portfolio p {
  font-size: 18px;
  line-height: 26px;
}

.blr_top_paragraph {
  height: 430px;
  line-height: 430px;
  text-align: left;
}
.blr_top_paragraph > p {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}


@media only screen and (max-width: 991px) {
  .blr_top_paragraph {
    height: 250px;
    line-height: 250px;
    text-align: left;
  }
}

.spr_top_paragraph {
  height: 430px;
  line-height: 430px;
  text-align: left;
}
.spr_top_paragraph > p {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}


@media only screen and (max-width: 991px) {
  .spr_top_paragraph {
    height: 360px;
    line-height: 360px;
    text-align: left;
  }
}


.fau_top_paragraph {
  height: 430px;
  line-height: 430px;
  text-align: left;
}
.fau_top_paragraph > p {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}


@media only screen and (max-width: 991px) {
  .fau_top_paragraph {
    height: 330px;
    line-height: 330px;
    text-align: left;
  }
}




/*---------------------------------------------------CONNECT PAGE----------------------------------------------------*/

.p_connect {
  margin-bottom: 0px;
  line-height:25px;
}










/*---------------------------------------------------PRIVACY PAGE----------------------------------------------------*/

.privacy_policy li {
  font-size: 16px;
  font-weight: 300;
}

.privacy_policy p a:not(.footer-blogs) {
  color:#333;
}











/*---------------------------------------------------INSTAFEED----------------------------------------------------*/

.imgWrap {
  position: relative;
  display: inline-block;
  background-color: transparent;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.imgWrap:hover {
  background-color: #000;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.imgWrap:hover img {
  opacity: 0.3;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.imgWrap .text {
  font-size: 16px;
  position:absolute;
  color: transparent;
  top:50%;
  left:50%;
  margin-top: -8px;
  margin-left: -48px;
  visibility:hidden;
}

.imgWrap:hover .text {
  visibility:visible;
  color: white;
    -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 629px) {
  .keen-instagram {
    width: 450px;
  }
}

@media only screen and (max-width: 479px) {
  .keen-instagram {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  #instafeed img {
    width: 145px;
  }
  .keen-instagram {
    width: 290px;
  }
}


/* No greater than 900px, no less than 400px */
@media (max-width:767px) and (min-width:618px) {
  #instafeed {
    padding-left: 138px;
  }
}​



/*---------------------------------------------------CONTACT FORM----------------------------------------------------*/

.cform .form-control {
    border-bottom: 1px solid black;
    color: #666;
    font-size: 16px;
    padding: 8px 0px;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
} 

.cform .form-control.string {
    height: 35px;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.cform textarea,
.cform input {
  border: none;
  box-shadow: none;
}

.cform textarea.form-control {
    resize: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.btn-black {
  padding: 2px 16px;
  background-color: black;
  border-radius: 0;
  color: white;
  &:hover{
    background-color: black;
    color: white;
  }
  &:focus {
    background-color: black;
    color: white;
  }
  &:active {
    background-color: black;
    color: white;
  }
}

.font-bold {
  font-weight: 900;
}


/*------MODAL FORM-----*/

  #myModal .modal-content {
    background-color: #5bc3be;
  }

.modalform .form-control {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    padding: 3px 0px;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
} 

.modalform .form-control.string {
    height: 35px;
    background-color: transparent;
}
.modalform textarea {
    background-color: transparent;
}

.modalform textarea,
.modalform input {
  border: none;
  box-shadow: none;
}

.modalform textarea.form-control {
    resize: none;
}

.btn-white {
  padding: 2px 16px;
  background-color: white;
  border-radius: 0;
  color: #5bc3be;
  &:hover{
    background-color: white;
    color: #5bc3be;
  }
  &:focus {
    background-color: white;
    color: #5bc3be;
  }
  &:active {
    background-color: white;
    color: #5bc3be;
  }
}

.font-bold {
  font-weight: 900;
}

.modalform input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform input::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform input:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform input:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}

.modalform textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform textarea::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform textarea:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}
.modalform textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 14px;
  opacity: 0.7;
}

/*blur background when modal is open*/
/*body.modal-open .body{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}*/

@media only screen and (max-width: 991px) {
  /*-- need to use this for the modal text-align right --*/
  /*body.modal-open { position: fixed; width: 100%; }*/
}

/*-- need to include this so that bootstrap modal button works on ios, make sure you add this class on your modal a tag --*/
.clickable {
  cursor: pointer;
}

/*---------------------------------------------------FOOTER----------------------------------------------------*/

footer {
    position: relative;
    background-color: $black;
    color: white;
    z-index: 38;
    border-top: 1px solid #a0a0a0;
}
footer p {
    margin: 0 0 10px;
    font-size: 16px;
    color: $green;
    font-weight: 300;
    line-height: 28px;
}

address{
  margin-bottom: 5px;
}

address > a {
  color: white;
  &:hover {
    color: $green !important;
  };
}

/*--- Newsletter form ---*/
input.blak-form {
  border-radius: 0;
  width: 82%;
  max-width: 216px;
  background-color: white;
  border: 2px solid #aaa;
  display: inline-block;
  height: 34px;
  font-size: 14px;
  padding: 5px 12px;
  text-align: right;
}
input.blak-btn {
  border-radius: 0;
  color: white;
  background-color: #5bc3be;
  height: 34px;
  border: 2px solid #aaa;
  width: 16%;
  max-width: 58px;
  margin-left: -5px;
  font-size: 14px;
  padding: 5px 12px;
}

/*--- Social Icons ---*/
.icon-circle {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    height: 28px;
    width: 28px;
    float: left;
    margin: 0 5px 0 0;
    text-align: center;
    line-height: 25px;
    opacity: 0.8;
}
.icon-circle:hover {
    opacity: 1;
}

.footer-right {
  margin-bottom: 25px;
}

.footer-left {
  margin-bottom: 25px;
}

.footer-blogs {
  color:#5bc3be;
  font-size: 22px;
  &:hover{
    color: white !important;
  };
}

@media only screen and (min-width: 992px) {
  .footer-right {
    text-align: right;
  }
  .footer-left {
    text-align: left;
  }
}






























