/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Colors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
$primary:#f68655;
$secondary:#45606a;
$color-link:#f68655;

$white:#ffffff;
$blue:#348fe2;
$black:#000;
$purple:#727cb6;
$orange:#f38373;
$yellow:#e8c21d;
$green:#5bc3be;
$red:#f35958;
$grey:#404041;
$brown: #836e2e;

/*Light Colors*/
$light-primary:#f8a87e;
$light-secondary:#527481;

$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f9f9f9;
$light-orange:#f7ab83;
$light-black:#525252;

/*Dark Colors*/
$dark-primary:#df8150;
$dark-secondary:#334850;

$dark-green:#26D26E;
$dark-blue:#2f4050;
$dark-red:#531a1f;
$dark-grey:#777777;
$dark-orange:#fa6132;
$dark-black:#10131a;

$dark-primary:#df8150;
$dark-secondary:#334850;

/*Social Media*/
$facebook:#3c5a99;
$google:#C63D2D;
$instagram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$kijiji:#4c4b6d;
$craigslist:#5D008F;

/* Background Color classes */
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-color-link{background:$color-link;}

.bg-white{background:$white;}
.bg-blue{background: $blue !important;}
.bg-black{background:$black !important;}
.bg-purple{background: $purple !important;}
.bg-orange{background:$orange !important}
.bg-yellow{background:$yellow !important;}
.bg-green{background: $green !important;}
.bg-red{background:$red !important;}
.bg-grey{background:$grey !important}
.bg-brown{background:$brown !important}

.bg-light-green{background:$light-green !important}
.bg-light-blue{background:$light-blue !important}
.bg-light-red{background:$light-red !important}
.bg-light-grey{background:$light-grey !important}
.bg-light-orange{background:$light-orange !important}

.bg-dark-green{background:$dark-green !important}
.bg-dark-blue{background:$dark-blue !important}
.bg-dark-red{background:$dark-red !important}
.bg-dark-grey{background:$dark-grey !important}
.bg-dark-orange{background:$dark-orange !important}

.bg-facebook{background:$facebook !important}
.bg-google{background:$google !important}
.bg-instagram{background:$instagram !important}
.bg-pinterest{background:$pinterest !important}
.bg-linkedin{background:$linkedin !important}
.bg-twitter{background:$twitter !important}
.bg-vimeo{background:$vimeo !important}
.bg-youtube{background:$youtube !important}
.bg-kijiji{background:$kijiji !important}
.bg-craigslist{background:$craigslist !important}

.bg-transparent{background: transparent;}



.color-primary{color: $primary;}
.color-secondary{color: $secondary;}
.color-white{color: $white;}
.color-peach{color: #f38373;}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Buttons---------------------------------------*/
/*--------------------------------------------------------------------------------------*/


/*.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}*/






/*NEWWWWWWWWWWWWWWWWWWWWWWWW*/

.btn-custom-default{
  color:$black;
  background-color: $light-grey;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $grey;
    box-shadow: none !important;
  }
}

.btn-custom-primary {
  color:$white !important;
  background-color: $primary;
  border:none;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-primary ;
    box-shadow: none !important;
    border:none;
  }
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-secondary;
    box-shadow: none !important;
  }
}

/* NEW BTN BORDER */

.btn-custom-default-border {
  color:white;
  background-color: transparent;
  border: 2px solid white ;
  border-radius: 30px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$black !important;
    background-color: white;
    box-shadow: none !important;
  }
}
.btn-custom-dark-border {
  color:$black;
  background-color: transparent;
  border: 2px solid $black ;
  border-radius: 30px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $black;
    box-shadow: none !important;
  }
}
.btn-custom-primary-border {
  color:$primary;
  background-color: $white;
  border: 2px solid $primary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $primary;
    box-shadow: none !important;
  }
}
.btn-custom-secondary-border {
  color:$secondary;
  background-color: $white;
  border: 2px solid $secondary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $secondary;
    box-shadow: none !important;
  }
}




a {
  /*color:$white;*/
  text-decoration: none;
  &:hover, &:focus{
    color:$secondary !important;
    text-decoration: none !important;
    background: transparent;
  }
}
a.secondary {
  color:$grey !important;
  text-decoration: none;
  &:hover, &:focus{
    color:$white !important;
    text-decoration: none;
    background: transparent;
  }
}
a.white {
  color:$white !important;
  text-decoration: none;
  &:hover, &:focus{
    color:$grey !important;
    text-decoration: none;
    background: transparent;
  }
}


.img-circle-border {
    border: 3px solid $secondary;
    padding: 5px;
    width: 100%;
    border-radius: 50%;
}

.transition {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}



/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Errors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}

.form-group .has-error {
  margin-bottom:6px;
  &.help-block{
    margin-bottom:4px;
  }
}

/*need to finish this up*/
/*#error_explanation {
  background-color: grey;
  border: 2px solid orange;
}
#error_explanation > h2{
  background-color: red;
}
#error_explanation > ul > li{
  background-color: blue;
}*/


/* From Michael Hartl */
/*#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
 }*/



/*
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 100%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
*/








.fts6 {font-size: 6px}
.fts7 {font-size: 7px}
.fts8 {font-size: 8px}
.fts9 {font-size: 9px}
.fts10 {font-size: 10px}
.fts11 {font-size: 11px}
.fts12 {font-size: 12px}
.fts13 {font-size: 13px}
.fts14 {font-size: 14px}
.fts15 {font-size: 15px}
.fts16 {font-size: 16px}
.fts17 {font-size: 17px}
.fts18 {font-size: 18px}
.fts19 {font-size: 19px}
.fts20 {font-size: 20px}
.fts21 {font-size: 21px}
.fts22 {font-size: 22px}
.fts23 {font-size: 23px}
.fts24 {font-size: 24px}
.fts25 {font-size: 25px}
.fts26 {font-size: 26px}
.fts27 {font-size: 27px}
.fts28 {font-size: 28px}
.fts29 {font-size: 29px}
.fts30 {font-size: 30px}
.fts31 {font-size: 31px}
.fts32 {font-size: 32px}
.fts33 {font-size: 33px}
.fts34 {font-size: 34px}
.fts35 {font-size: 35px}
.fts36 {font-size: 36px}
.fts37 {font-size: 37px}
.fts38 {font-size: 38px}
.fts39 {font-size: 39px}
.fts40 {font-size: 40px}
.fts41 {font-size: 41px}
.fts42 {font-size: 42px}
.fts43 {font-size: 43px}
.fts44 {font-size: 44px}
.fts45 {font-size: 45px}
.fts46 {font-size: 46px}
.fts47 {font-size: 47px}
.fts48 {font-size: 48px}
.fts49 {font-size: 49px}
.fts50 {font-size: 50px}
.fts51 {font-size: 51px}
.fts52 {font-size: 52px}
.fts53 {font-size: 53px}
.fts54 {font-size: 54px}
.fts55 {font-size: 55px}
.fts56 {font-size: 56px}
.fts57 {font-size: 57px}
.fts58 {font-size: 58px}
.fts59 {font-size: 59px}
.fts60 {font-size: 60px}







/*--------------------------------------------------------------------------------------*/
/*-----------------------------------Margin & Padding-----------------------------------*/
/*--------------------------------------------------------------------------------------*/
$a:0;
@while $a <= 500{
  // Margin
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px !important;}
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mAll#{$a}{margin: $a*1px !important;}

  // Padding
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important; }
  .pl#{$a}{padding-left: $a*1px !important; }
  .pr#{$a}{padding-right: $a*1px !important; }
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}

/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;



/*----------------------------------------------Media Queries------------------------------------------*/

@media only screen and (max-width: 1199px) {
  .noshow1199andunder {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .noshow991andunder {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .noshow767andunder {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .show991andunder {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .show767andunder {
    display: none;
  }
}
