<footer>
  <div class="container pt75 pb50">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 footer-right">
        <p><strong><a href="/blogs" class="footer-blogs">GET OUR LATEST INSIGHTS</a></strong></p>
        <form action="https://keenability.createsend.com/t/d/s/akrkik/" method="post" id="subForm">
          <input type="email" name="cm-akrkik-akrkik"  class="form-control blak-form" id="fieldEmail" placeholder="Enter your email" required>
          <input value="+" class="submit blak-btn" type="submit">
        </form>
      </div>
      <div class="col-md-4 footer-left">
        <address>
          4181 NW 1st Ave, Suite 8 <br>
          Boca Raton, FL 33431 | <a href="tel:5617569720">561.756.9720</a>
        </address>
          <a href="https://www.facebook.com/Keenability" target="blank"><div class="icon-circle"><i class="fa fa-facebook-official" aria-hidden="true"></i></div></a>
          <a href="https://www.twitter.com/keenability" target="blank"><div class="icon-circle"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
          <a href="https://www.instagram.com/keenability/" target="blank"><div class="icon-circle"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
          <a href="https://www.linkedin.com/company/keenability" target="blank"><div class="icon-circle"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
          <a href="https://www.youtube.com/channel/UCiKPmLFUoZ5XNRLCTnbhCzw" target="blank"><div class="icon-circle"><i class="fa fa-youtube" aria-hidden="true"></i></div></a>
      </div>
      <div class="col-md-2"></div>

    </div>
  </div>
</footer>

