<header>
  <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="logo">
    <a href="/"><img class="img-responsive" src="https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png" alt="Keenability"></a>
  </div>
  <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#">
    <div class="icon-right">
      <i class="fa fa-play" aria-hidden="true"></i>
    </div>
  </a>
</header>

<div id="overlay">
  <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/connect">Connect</a></li>
        <% if current_user.try(:admin?) %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
  </div>
</div>

<!-- <div id="overlay">
  <div>
    <div class="container">
      <div class="col-lg-3 col-md-12">
        <a href="/" style="font-size:22px; color:black;">Home</a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/">Home</a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/">Home</a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/">Home</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <style>
#overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $white;
  text-align: center;
}

#overlay ul li {
  margin:0 30px;
  display: inline-block;
}
#overlay ul li a {
  padding: 10px 30px;
  color: $black;
  text-decoration: none;
  transition: all .2s;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
#overlay ul li a:hover {
    border-left: 2px solid $light-black;
    border-right: 2px solid $light-black;
}
</style> -->


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="video_iframe">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="close-youtube">&times;</span></button>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/I-Tvdun9Tok" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>