<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div style="padding:15px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="text-align: center;"></h3>
      </div>

      <div class="modal-body row">
        <div class="col-md-1"></div>
        <div class="col-md-7 modalform pb30">
          <img src="https://s3.amazonaws.com/keenwebsite/popup/popup_mobile.png" alt="" class="img-responsive show991andunder pb20"> 
          <%= form_for Contact.new, :url => contacts_url, method: :post, remote: true do |f|  %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control text-right string", placeholder: "Full Name", required: true %>
          </div>         
          <div class="form-group">
            <%= f.email_field :email, class: "form-control text-right string", placeholder: "Email", required: true %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone_number, class: "form-control text-right string", placeholder: "Phone", required: true %>
          </div>
          <div class="form-group">
            <%= f.text_area :message, class: "form-control text-right pt35", rows: 1, placeholder: "Message", required: true %>
          </div>
          <div class="form-group">
            <%= f.submit "Send", class: "btn btn-white pull-right", id: "modal_contact_send" %>
          </div>
          <% end %>
        </div>
        <div class="col-md-4 noshow991andunder">
          <img src="https://s3.amazonaws.com/keenwebsite/popup/popup_desktop.png" alt="" class="img-responsive pt40">
        </div>
      </div> <!-- modal-body -->

   </div>   <!-- modal-content -->
  </div>
</div>
