<header id="static">
  <div id="nav-icon" class="static">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="logo">
    <a href="/"><img class="img-responsive" src="https://s3.amazonaws.com/keenwebsite/general/home_keen_logo.png" alt="Keenability"></a>
  </div>
  <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#">
    <div class="icon-right">
      <i class="fa fa-play" aria-hidden="true"></i>
    </div>
  </a>
</header>

<div id="overlay">
  <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/connect">Connect</a></li>
        <% if current_user.try(:admin?) %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="video_iframe">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="close-youtube">&times;</span></button>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/I-Tvdun9Tok" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>