<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-site-verification" content="5FqSitPyAfxDf6u9avSGjWD1cEwL-dAd67ZCnxFU5yM" />

    <title><%= "#{yield(:title)}" if yield(:title).present? %></title>

    <%= yield(:head) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49123321-1', 'auto');
      </script>
    <% end %>
    <% if Rails.env.production? %>
      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '146602016049955'); 
      fbq('track', 'PageView');
      </script>
      <noscript>
       <img height="1" width="1" 
      src="https://www.facebook.com/tr?id=146602016049955&ev=PageView
      &noscript=1"/>
      </noscript>
      <!-- End Facebook Pixel Code -->
    <% end %>

    <%= csrf_meta_tags %>

    
    <%= favicon_link_tag "//s3.amazonaws.com/keenwebsite/general/keenability_icon_black_favicon.jpg", rel: "icon", type: "image/jpg"%>

  </head>

  <body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>'>
    <div class="body">
    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <div class="alert alert-success"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% elsif key == "alert" %>
        <div class="alert alert-danger"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% end %>
    <% end %>

    <%= yield %>
    </div>

    <!-- Modal -->
    <%= render 'layouts/modal_contact' %>


    <%= "<div style='margin-top:148px;'></div>".html_safe if false && Rails.env.development? %>

    <%= console if false && Rails.env.development? %>

  </body>
</html>
